@import url('./normalize.css');

.container {
  max-width: $containerWidth;
  padding: $containerPadding;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
