$containerWidth: 1440px;
$containerPadding: 0 20px;

$primary-text-color: #282929;
$secondary-text-color: #777C83;

$primary-white: #E6E6E6;

$bg-primary-color: #f6f8f8;

$primary-color: #FF532E;
$accent-color: #24dada;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
